@import url('html5reset-1.6.1.css');
nav,
article,
aside,
header,
hgroup,
footer {
  display: block;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
body {
  background: url('../../images/bg.png') repeat;
  font-family: 'Helvetica Neue', 'Helvetica', 'Verdana', 'Open Sans', 'Arial', sans-serif;
  color: #565656;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
img {
  border: 0;
}
a, a:visited {
  color: #0884c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  width: 960px;
  margin: 0 auto;
}
header hgroup {
  padding: 0 10px;
  padding-top: 6px;
}
header h1 {
  line-height: 1em;
  margin: 0;
  font-size: 6.25em;
  float: left;
}
header h1 a, header h1 a:visited, header h1 a:hover {
  color: #565656;
  text-decoration: none;
  font-weight: 900;
}
header h2 {
  font-size: 3.224em;
  font-weight: 200;
  float: right;
  text-align: left;
  width: 700px;
  margin: 0;
  padding-top: .1em;
}
header h3 {
  font-size: 1.27em;
  clear: right;
  float: right;
  text-align: left;
  width: 700px;
  margin: 0;
  width: 400px;
  margin-right: 300px;
}
header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav#primary-navigation {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 0;
  height: 34px;
}
nav#primary-navigation ul {
  float: right;
  padding-right: 5px;
  margin-top: -10px;
}
nav#primary-navigation ul li {
  line-height: 1em;
  display: inline;
  padding-left: 18px;
  font-size: 1.54em;
  font-weight: 700;
}
nav#primary-navigation ul li a, nav#primary-navigation ul li a:visited {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav#primary-navigation ul li a:hover {
  color: #565656;
}
nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#header-wrapper {
  width: 100%;
  background-color: #323232;
}
#header-wrapper header {
  color: #cccccc;
}
#header-wrapper header h1 a, #header-wrapper header h1 a:visited, #header-wrapper header h1 a:hover {
  color: #cccccc;
}
#header-wrapper nav#primary-navigation ul a, #header-wrapper nav#primary-navigation ul a:visited {
  color: #e2e3e5;
  padding-bottom: 21px;
}
#header-wrapper nav#primary-navigation ul a:hover, #header-wrapper nav#primary-navigation ul a.selected {
  text-decoration: none;
  color: #323232;
  background-color: #c4c4c6;
}
#content {
  width: 100%;
  position: relative;
  padding: 7px 0;
}
#content .stripe {
  height: 20px;
  background-color: #1c7681;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#content .stripe.below {
  bottom: 0px;
}
#content .stripe.above {
  top: 0;
}
#content .image-background {
  background-color: rgba(181, 197, 200, 0.41);
  text-align: center;
  line-height: 0.8em;
}
#image-info {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 4em;
}
#image-info a:hover {
  color: #565656;
}
#image-info #time {
  width: 300px;
  font-size: 6.25em;
  margin-left: 10px;
  float: left;
}
#image-info #person {
  width: 380px;
  margin-left: 330px;
  text-align: right;
  padding-top: .9em;
}
#image-info #person h1 {
  margin: 0;
  font-size: 3.224em;
  font-weight: 200;
}
#image-info #person h2 {
  margin: 0;
  font-size: 1.27em;
}
#image-info #person p {
  margin: .3em 0;
  font-size: 1.27em;
  font-weight: 700;
}
#image-info #caption {
  width: 220px;
  margin-right: 10px;
  float: right;
  font-size: 1.27em;
  line-height: 1.4em;
}
#image-info #caption p {
  margin-top: 2.1em;
}
#image-info #caption form {
  padding-top: 26px;
}
#image-info:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  clear: both;
}
div#aditl-data {
  width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}
div#aditl-data #overview {
  margin: 20px 10px;
  position: relative;
  margin-bottom: 5px;
}
div#aditl-data #overview .times {
  width: 940px;
  position: relative;
  height: 20px;
}
div#aditl-data #overview .times div {
  position: absolute;
  top: 0;
  width: 50px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.27em;
}
div#aditl-data #overview .times .t-0 {
  left: 0;
  text-align: left;
}
div#aditl-data #overview .times .t-4 {
  left: 131.66666666666666px;
}
div#aditl-data #overview .times .t-8 {
  left: 288.3333333333333px;
}
div#aditl-data #overview .times .t-12 {
  left: 445px;
}
div#aditl-data #overview .times .t-16 {
  left: 601.6666666666666px;
}
div#aditl-data #overview .times .t-20 {
  left: 758.3333333333333px;
}
div#aditl-data #overview .times .t-24 {
  left: 890px;
  text-align: right;
}
div#aditl-data #overview .line {
  width: 940px;
  height: 15px;
  background-color: rgba(50, 50, 50, 0.39);
  position: relative;
}
div#aditl-data #overview .line img {
  position: absolute;
  top: 0;
}
div#aditl-data #overview #timeline-slider-wrapper {
  width: 920px;
  position: absolute;
  top: 0;
}
div#aditl-data #overview #timeline-slider-wrapper #timeline-slider {
  position: relative;
  text-align: left;
  background-color: transparent;
  height: 45px;
}
div#aditl-data #overview #timeline-slider-wrapper .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 10px;
  cursor: default;
  background-color: #565656;
  outline: none;
}
div#aditl-data #overview #timeline-slider-wrapper .ui-slider-horizontal .ui-slider-handle {
  top: 37px;
}
div#aditl-data a.pagination-arrow {
  width: 120px;
  height: 80px;
  display: block;
}
div#aditl-data a.pagination-arrow.prev {
  float: left;
}
div#aditl-data a.pagination-arrow.next {
  float: right;
}
div#aditl-data h2 {
  font-size: 3.224em;
  font-weight: 200;
  text-align: center;
  line-height: 80px;
}
div#aditl-data .timeline {
  clear: both;
  position: relative;
  height: 494px;
  margin-top: 1em;
  padding: 0 10px;
}
div#aditl-data .timeline .scrollview-bg {
  position: absolute;
  top: -1px;
  left: 10px -1;
  background: transparent;
  width: 940px;
  height: 266px;
  border: 1px solid #565656;
}
div#aditl-data .timeline .v-stripe {
  position: absolute;
  top: -1px;
  left: 0;
  width: 9px;
  height: 268px;
  background-color: #565656;
}
div#aditl-data .timeline .v-stripe.right {
  left: 953px;
}
div#aditl-data .timeline .scrollview-container {
  width: 940px;
  height: 414px;
  overflow-x: hidden;
}
div#aditl-data .timeline .scrollview-container .scrollview-content {
  position: relative;
  background-color: transparent;
  background-image: url('../../images/scrollview-bg.png');
  background-repeat: repeat-x;
}
div#aditl-data .timeline .scrollview-container .scrollview-item {
  width: 380px;
  height: 414px;
  position: absolute;
  top: 0;
  left: 0;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .image {
  width: 380px;
  height: 266px;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination {
  width: 200px;
  height: 40px;
  float: right;
  background-color: #565656;
  color: #e2e3e5;
  margin-right: 30px;
  margin-top: 30px;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination p {
  font-size: 1.54em;
  line-height: 40px;
  margin-left: 1em;
  font-weight: 400;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination a {
  width: 40px;
  height: 40px;
  background-image: url('../../images/small-pagination-arrows.png');
  background-repeat: no-repeat;
  background-position: 0px center;
  overflow: hidden;
  display: block;
  text-indent: -10em;
  float: right;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination a.prev.inactive {
  background-position: -40px center;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination a.next {
  background-position: -120px center;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination a.next.inactive {
  background-position: -80px center;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination a:hover {
  background-color: #000000;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info .pagination a.inactive:hover {
  background-color: transparent;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info article {
  width: 140px;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info article h2 {
  line-height: normal;
  font-weight: 200;
  font-size: 2.64em;
  text-align: left;
}
div#aditl-data .timeline .scrollview-container .scrollview-item .info article p {
  margin: .3em 0;
  font-size: 0.917em;
  line-height: 1.4em;
  text-align: left;
}
#aditl-timelines {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 2em;
}
#aditl-timelines nav#secondary-navigation {
  margin-top: 1.8em;
  position: relative;
  height: 40px;
}
#aditl-timelines nav#secondary-navigation h2 {
  font-size: 2.4225em;
  font-weight: 200;
  position: absolute;
  left: 10px;
  top: 0;
  margin: 0;
  padding: 5px 0;
}
#aditl-timelines nav#secondary-navigation a, #aditl-timelines nav#secondary-navigation a:visited {
  display: block;
  color: #565656;
  padding: 5px 0;
  font-size: 2.4225em;
  font-weight: 800;
}
#aditl-timelines nav#secondary-navigation a:hover, #aditl-timelines nav#secondary-navigation a.selected {
  text-decoration: none;
  background-color: #323232;
  color: #e2e3e5;
}
#aditl-timelines nav#secondary-navigation ul {
  position: absolute;
  left: 160px;
}
#aditl-timelines nav#secondary-navigation ul li {
  float: left;
  width: 60px;
  text-align: center;
  margin-right: 20px;
}
#aditl-timelines nav#secondary-navigation ul a, #aditl-timelines nav#secondary-navigation ul a:visited {
  width: 100%;
}
#aditl-timelines nav#secondary-navigation a.random, #aditl-timelines nav#secondary-navigation a.random:visited {
  float: right;
  margin-right: 5px;
  padding: 5px;
}
#aditl-timelines nav#secondary-navigation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#aditl-timelines #overview {
  width: 710px;
  margin-left: 240px;
  margin-top: 25px;
}
#aditl-timelines #overview .times {
  position: relative;
  height: 20px;
}
#aditl-timelines #overview .times div {
  position: absolute;
  top: 0;
  width: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 1.27em;
}
#aditl-timelines #overview .times .t-0 {
  left: 0;
  text-align: left;
}
#aditl-timelines #overview .times .t-4 {
  left: 93.33333333333333px;
}
#aditl-timelines #overview .times .t-8 {
  left: 211.66666666666666px;
}
#aditl-timelines #overview .times .t-12 {
  left: 330px;
}
#aditl-timelines #overview .times .t-16 {
  left: 448.3333333333333px;
}
#aditl-timelines #overview .times .t-20 {
  left: 566.6666666666666px;
}
#aditl-timelines #overview .times .t-24 {
  left: 660px;
  text-align: right;
}
#aditl-timelines #overview .line {
  height: 6px;
  background-color: rgba(50, 50, 50, 0.39);
}
#aditl-timelines .person {
  position: relative;
  height: 64px;
  margin: 1em 10px;
}
#aditl-timelines .person h2 {
  font-size: 2.4225em;
  font-weight: 200;
  width: 230px;
  padding-top: 0.12em;
  margin: 0;
  height: 1.2em;
  overflow: hidden;
}
#aditl-timelines .person h3 {
  font-size: 1.27em;
  margin-left: 60px;
}
#aditl-timelines .person .full-timeline {
  float: right;
  position: relative;
  width: 710px;
  height: 64px;
  background-color: rgba(86, 86, 86, 0.21);
}
#aditl-timelines .person .full-timeline img {
  position: absolute;
}
#aditl-timelines .person a.follow, #aditl-timelines .person a.follow:visited {
  display: block;
  position: absolute;
  /*background-color: rgba(255,255,255,0.8);*/

  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  color: #0884c4;
}
#aditl-timelines .person a.follow span, #aditl-timelines .person a.follow:visited span {
  display: block;
  margin-top: 37px;
  font-size: 1.27em;
  font-weight: 800;
}
#about-aditl {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 6em;
}
#about-aditl h2 {
  font-size: 3.224em;
  font-weight: 200;
  margin-top: 1em;
}
#about-aditl p {
  font-size: 1.27em;
  line-height: 1.5em;
  margin: .5em 0;
  margin-bottom: .8em;
}
#about-aditl article {
  width: 600px;
  float: left;
  margin-left: 10px;
}
#about-aditl aside {
  width: 290px;
  float: right;
  margin-right: 10px;
}
#about-aditl aside dl {
  text-align: left;
}
#about-aditl aside dl dt {
  font-weight: 200;
  font-size: 2.18025em;
}
#about-aditl aside dl dd {
  font-weight: 800;
  font-size: 1.27em;
  margin-bottom: 1em;
}
#about-aditl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#about-aditl.login article {
  width: 400px;
}
#about-aditl.login aside {
  width: 470px;
}
#about-aditl.login p {
  clear: right;
}
#about-aditl.login p.note {
  font-size: 0.917em;
}
#about-aditl.login p.notice {
  background-color: #565656;
  color: #e2e3e5;
  padding: .4em .7em;
}
#about-aditl.login form {
  font-size: 1.27em;
}
#about-aditl.login form label {
  font-weight: 800;
  width: 150px;
  display: block;
  float: left;
  line-height: 2.3em;
  clear: left;
}
#about-aditl.login form input[type='text'], #about-aditl.login form input[type='password'] {
  display: block;
  font-size: 1.3em;
  margin: .5em 0;
  padding: .3em;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #565656;
}
#about-aditl.login form select {
  display: block;
  font-size: 1.3em;
  margin: 0.9em 0;
  width: 300px;
}
#about-aditl.login article form input[type='text'], #about-aditl.login article form input[type='password'] {
  width: 296px;
}
#about-aditl.login article form label {
  width: 90px;
}
#about-aditl.login aside form input[type='text'], #about-aditl.login aside form input[type='password'] {
  width: 306px;
}
#about-aditl.login input[type='submit'], #about-aditl.upload input[type='submit'] {
  -moz-border-radius: .5em;
  border-radius: .3em;
  background-color: #565656;
  color: #e2e3e5;
  font-size: 1.938em;
  padding: .3em .6em;
  border: none;
  display: block;
  float: right;
  margin-top: .3em;
  margin-bottom: 1em;
}
#about-aditl.upload article {
  width: 720px;
}
#about-aditl.upload h3 {
  font-size: 1.27em;
}
#about-aditl.upload ul li {
  font-size: 1.27em;
  line-height: 1.5em;
  margin: .5em 0;
}
#push {
  clear: both;
  height: 11em;
}
footer {
  background-color: #323232;
  color: #e2e3e5;
  padding-top: 2em;
  height: 9em;
  clear: both !important;
  margin-top: -11em;
}
footer #credits {
  width: 960px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.27em;
}
footer #credits #technique-credit {
  float: left;
  margin-left: 10px;
  width: 460px;
}
footer #credits #technique-credit img {
  float: left;
  padding-top: 3px;
}
footer #credits #technique-credit p {
  margin: 0;
  margin-left: 250px;
}
footer #credits #mit-credit {
  float: right;
  text-align: right;
}
footer #credits #mit-credit img {
  float: right;
  padding-top: 5px;
}
footer #credits #mit-credit p {
  margin: 0;
  margin-right: 78px;
}
footer #credits:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
footer #copyright-terms {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.917em;
  padding-top: 3em;
}
footer #copyright-terms p {
  margin: 0;
  margin-left: 10px;
}
/* Upload widget */
#about-aditl.upload {
  /* Message */

  /* Error */

  /* Current */

  /* Complete */

}
#about-aditl.upload form {
  margin-top: 2em;
}
#about-aditl.upload form .upload-wrapper {
  border: none;
  background-color: #565656;
  color: #e2e3e5;
  font-size: 2.4225em;
  height: 55px;
}
#about-aditl.upload progressWrapper {
  width: 357px;
  overflow: hidden;
  font-size: 1.905em;
  color: #565656;
}
#about-aditl.upload .progressContainer {
  padding: 1em;
  border: solid 1px #565656;
  background-color: #F7F7F7;
  overflow: hidden;
  height: 43px;
}
#about-aditl.upload .message {
  font-size: 1.905em;
  margin: 1em 0;
  padding: 10px 20px;
  border: solid 1px #565656;
  background-color: #FFFFCC;
  overflow: hidden;
}
#about-aditl.upload .red {
  border: solid 1px #565656;
  background-color: #FFEBEB;
}
#about-aditl.upload .green {
  border: solid 1px #565656;
  background-color: #EBFFEB;
}
#about-aditl.upload .blue {
  border: solid 1px #565656;
  background-color: #F0F5FF;
}
#about-aditl.upload .progressName {
  font-weight: 700;
  color: #555;
  width: 323px;
  height: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
#about-aditl.upload .progressBarInProgress, #about-aditl.upload .progressBarComplete, #about-aditl.upload .progressBarError {
  font-size: 0;
  width: 0%;
  height: 10px;
  background-color: blue;
  margin-top: 2px;
}
#about-aditl.upload .progressBarComplete {
  width: 100%;
  background-color: green;
  visibility: hidden;
}
#about-aditl.upload .progressBarError {
  width: 100%;
  background-color: red;
  visibility: hidden;
}
#about-aditl.upload .progressBarStatus {
  margin-top: 2px;
  width: 337px;
  text-align: left;
  white-space: nowrap;
}
#about-aditl.upload a.progressCancel {
  font-size: 0;
  display: block;
  height: 14px;
  width: 14px;
  background-image: url(/2011/static/cancelbutton.gif);
  background-repeat: no-repeat;
  background-position: -14px 0px;
  float: right;
}
#about-aditl.upload a.progressCancel:hover {
  background-position: 0px 0px;
}
#about-aditl.upload #divFileProgressContainer {
  margin-top: 0.5em;
  height: 100px;
}
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
  vertical-align: top;
}
