<TMPL_INCLUDE NAME="header.tmpl">

</head>
<body>

<div class="aditl-head1"><a href="<TMPL_VAR EXPR="settings('frontURL')">">ADITL</a></div>
<div class="aditl-head2">A day in the life of mit</div>

<div class="main-area">

<div class="aditl-head1" style="position:absolute; left:15px; top:50px; font-size:30px;
width:400px;">
About the event and site
<div style="position:absolute; left:0px; top:40px; width:400px; font-size:15px; color:#333333;">
On September 22, 2011, hundreds of people from the MIT community documented a single day in photographs. <!--Together they took nearly ten-thousand pictures in the twenty-four hour period.--> ADITL.mit.edu is a collective photo blog of sorts, and is the repository for these photographs.<br/><br/>


ADITL is sponsored by <a href="http://yearbook.scripts.mit.edu/newsite/">Technique</a>, the Yearbook and Photography Club of MIT. Questions and comments should be sent to <a href="mailto:aditl@mit.edu">aditl@mit.edu</a>.<!--Also check out the <a href="http://aditl.mit.edu/cgi-bin/aditl/frontpage2.cgi">ADITL 2003 site</a>.-->
</div>
</div>



<div class="aditl-head1" style="position:absolute; left:500px; top:50px; font-size:30px;
width:400px;">
Credits
<div style="position:absolute; left:0px; top:40px; width:400px; font-size:15px; color:#333333;">
original software, design {<span class="highlight">reid</span> williams}<br>

special thanks {technique's <span class="highlight">alum</span> community}<br>
special thanks {<span class="highlight">everyone</span> who participated}<br><br>

<b>project lead</b>  {<span class="highlight">quentin</span> smith}<br><br>

</div></div>
</div>
</body>
</html>
