templateEmail
templateName
templateHREF
templateAction
<template>
<tr>
<td style="background-color:#eeeeee; padding-top:5px; padding-bottom:5px" class="associatesCell1">templateEmail</td>
<td style="background-color:#eeeeee; padding-left:10px; padding-top:5px; padding-bottom:5px" class="associatesCell1">templateName</td>
<td style="background-color:#eeeeee; padding-left:10px; padding-top:5px; padding-bottom:5px" class="associatesCell2"><a class="link1" href="templateHREF">templateAction</td></tr>