templateImage1Src
templateImage2Src
templateImage3Src
templateImage4Src
templateImage5Src
templateImage6Src
templateImage7Src
templateImage8Src
templateLink1
templateLink2
templateLink3
templateLink4
templateLink5
templateLink6
templateLink7
templateLink8
templateColor1
templateColor2
templateColor3
templateColor4
templateColor5
templateColor6
templateColor7
templateColor8
<template>

<html>
<head><title>ADITL 2005</title>
<link rel="StyleSheet" href="/aditl2/aditl.css" type="text/css" />
<style type="text/css">
.cell1 {padding-left:4px}
.smalltext {color:#77746b; font-family: helvetica, sans-serif; font-size:15px; text-align:justify}
.texttable {width:130px; padding-right:30px}
a.link1 {font-size:17px; color:#ffa963}
a.link1:hover {text-decoration:underline}
</style>

<script>
<!--
preload1 = new Image();
preload1.src = "templateImage1Src";

preload2 = new Image();
preload1.src = "templateImage2Src";

preload3 = new Image();
preload1.src = "templateImage3Src";

preload4 = new Image();
preload1.src = "templateImage4Src";

preload5 = new Image();
preload1.src = "templateImage5Src";

preload6 = new Image();
preload1.src = "templateImage6Src";

preload7 = new Image();
preload1.src = "templateImage7Src";

preload8 = new Image();
preload1.src = "templateImage8Src";

function roll1() {
document.image1.src = "templateImage1Src";
document.getElementById("thebanner").style.color = "templateColor1";
}

function roll2() {
document.image2.src = "templateImage2Src";
document.getElementById("thebanner").style.color = "templateColor2";
}

function roll3() {
document.image3.src = "templateImage3Src";
document.getElementById("thebanner").style.color = "templateColor3";
}

function roll4() {
document.image4.src = "templateImage4Src";
document.getElementById("thebanner").style.color = "templateColor4";
}

function roll5() {
document.image5.src = "templateImage5Src";
document.getElementById("thebanner").style.color = "templateColor5";
}

function roll6() {
document.image6.src = "templateImage6Src";
document.getElementById("thebanner").style.color = "templateColor6";
}

function roll7() {
document.image7.src = "templateImage7Src";
document.getElementById("thebanner").style.color = "templateColor7";
}

function roll8() {
document.image8.src = "templateImage8Src";
document.getElementById("thebanner").style.color = "templateColor8";
}

function rollback() {
document.image1.src = "/aditl2/gray.jpg";
document.image2.src = "/aditl2/gray.jpg";
document.image3.src = "/aditl2/gray.jpg";
document.image4.src = "/aditl2/gray.jpg";
document.image5.src = "/aditl2/gray.jpg";
document.image6.src = "/aditl2/gray.jpg";
document.image7.src = "/aditl2/gray.jpg";
document.image8.src = "/aditl2/gray.jpg";
document.getElementById("thebanner").style.color = "#dadada";
}
-->
</script>

</head>
<body bgcolor=#ffffff>

<br><br><br><br><br>

<center>
<div class="banner" id="thebanner" style="font-size:200px; text-align:left;
letter-spacing:1px; padding-left:305px;">
ADITL</div>

<table cellspacing=0 cellpadding=0>
<tr>
<td class="cell1"><a href="templateLink1"><img name="image1" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll1()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><a href="templateLink2"><img name="image2" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll2()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><a href="templateLink3"><img name="image3" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll3()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><a href="templateLink4"><img name="image4" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll4()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><a href="templateLink5"><img name="image5" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll5()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><img src="/aditl2/white.jpg" border=0 width=70 height=47></td>

<td class="cell1"><a href="templateLink6"><img name="image6" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll6()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><img src="/aditl2/white.jpg" border=0 width=70 height=47></td>

<td class="cell1"><a href="templateLink7"><img name="image7" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll7()" onMouseOut ="rollback()"></a></td>

<td class="cell1"><img src="/aditl2/white.jpg" border=0 width=70 height=47></td>

<td class="cell1"><a href="templateLink8"><img name="image8" src="/aditl2/gray.jpg" border=0 width=70 height=47 onMouseOver="roll8()" onMouseOut ="rollback()"></a></td>
</tr>
<tr><td colspan=11><img border=0 src="/aditl2/white.jpg" width=1 height=15></td></tr>
<tr>

<td colspan=5><div class="smalltext" style="line-height:1.1em; width:370px; text-align:justify">[1] get ahold of a digital camera. [2] carry it with you for twenty-four hours. [3] capture an entire day in images.<br><br> ADITL (a Day in the Life of MIT) is a photographic collaboration seeking to tell the story of a single day at MIT through as many cameras as possible. The idea is simple: on <b>april 21, 2005</b>, you carry a digital camera with you for twenty-four hours (midnight to midnight) and photograph your day. Document the world around you - shower tiles, secret classroom yawns, the way the light hits the student center steps, eight straight hours of staring at an emacs buffer, whatever it is you see in your day. Upload your photos in the two weeks following the event to aditl.mit.edu, where we will create a space to browse and view the collective day.<br><br> Registration is open now. Stay tuned. ADITL is sponsored by Technique, the yearbook of MIT.</div></td>

<td colspan=6 valign=top><div style="text-align:right; line-height:1.3em">
<a class="link1" href="http://aditl.mit.edu/aditl2/dyn/upload">upload your photos</a><br>
<a class="link1" href="http://aditl.mit.edu/aditl2/dyn/register">sign up</a><br>
<a class="link1" href="http://aditl.mit.edu/aditl2/faq.html">faq</a><br>
<a class="link1" href="http://aditl.mit.edu/aditl2/info.html">groundrules</a><br>
<a class="link1" href="http://aditl.mit.edu/aditl2/dyn/phototest">check your camera</a><br>
<a class="link1" href="mailto:aditl@mit.edu">send us feedback</a><br>
<a class="link1" href="http://aditl.mit.edu/cgi-bin/aditl/frontpage2.cgi">ADITL '03 site</a><br>
<a class="link1" href="http://web.mit.edu/yearbook/www">Technique</a>

</div></td>
</tr>
</table>

</center>
</div>

</body></html>
