<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>ADITL: A day in the life of MIT. September 22, 2011</title>
        <link rel="stylesheet" href="<TMPL_VAR EXPR="settings('staticURLBase')">/stylesheets/css/main.css" />

	<style type="text/css">
	  div#content .stripe {
	    background-color: <TMPL_VAR NAME="Color">;
	  }
	  a, a:visited {
	    color: <TMPL_VAR NAME="Color">;
	  }
	  #content .image-background {
	    background-color: <TMPL_VAR NAME="bgColor">;
	  }
	</style>
    </head>
    <body>
        <div id="wrapper">
	    <TMPL_INCLUDE NAME="parts/header.tmpl">
            <div role="content" id="content">
                <div class="stripe above"></div>
                <div class="stripe below"></div>
                <div class="image-background"><img src="<TMPL_VAR NAME="Image">" alt="<TMPL_VAR NAME="Caption" ESCAPE="HTML">" /></div>
            </div>
            <article role="image-information" id="image-info">
                <section id="time">
                    <TMPL_VAR NAME="Time">
                </section>
                <section id="caption">
		  <TMPL_IF NAME="EditCaption">
		    <form method="post">
		      <textarea cols="40" rows="3" name="caption"><TMPL_VAR NAME="Caption" ESCAPE="HTML"></textarea>
		      <input type="hidden" name="phid" value="<TMPL_VAR NAME="phid">">
		      <br><input type="submit" name="setcaption" value="update caption">
		    </form>
		  <TMPL_ELSE>
                    <p><TMPL_VAR NAME="Caption" ESCAPE="HTML"></p>
		    <TMPL_IF NAME="CanEditCaption">
		      <a href="<TMPL_VAR EXPR="settings('photoURL')">?phid=<TMPL_VAR NAME="Phid">&editcaption=1">[edit caption]</a>
		    </TMPL_IF>
		  </TMPL_IF>
                </section>
                <section id="person">
                    <h1><TMPL_VAR NAME="Photog" ESCAPE="HTML"></h1>
                    <h2><TMPL_VAR NAME="NumPhotos"> photos</h2>
		    <TMPL_IF EXPR="prev || next">
		      <p>
			<TMPL_IF NAME="prev"><a href="<TMPL_VAR EXPR="settings('photoURL')">?phid=<TMPL_VAR NAME="prev">">prev</a></TMPL_IF>
			<TMPL_IF NAME="next"><a href="<TMPL_VAR EXPR="settings('photoURL')">?phid=<TMPL_VAR NAME="next">">next</a></TMPL_IF>
		      </p>
		    </TMPL_IF>
                    <p><TMPL_IF NAME="voteURL"><a href="<TMPL_VAR NAME="voteURL">">vote</a> </TMPL_IF><a href="<TMPL_VAR NAME="personDay">">follow</a></p>
                </section>
            </article>
            <div id="push"></div>
        </div>

	<TMPL_INCLUDE NAME="parts/footer.tmpl">

    </body>
</html>
