<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">	
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
A Day in the Life of MIT <TMPL_VAR EXPR="settings('year')">
</title>


<link rel="SHORTCUT ICON" href="http://aditl.mit.edu/favicon.ico">

<style type="text/css">
body {
background-color:#ffffff;
color:#292929;
font-family:helvetica, sans-serif;
}

a {text-decoration:none;}

.header-area {
width:50%;
height:3em;
}

.aditl-head1 {
font-size:50px;
color:#<TMPL_VAR NAME="Color" DEFAULT="333333">;
position:absolute;
left:5px;
top:52px;
margin:0px;
padding:0px;
}

.aditl-head2 {
font-size:23px;
position:absolute;
left:5px;
top:75px;
margin-left:145px;
}


.main-area {
position:absolute;
top:100px;
left:0px;
<TMPL_IF NAME="bgColor">
background-color:#<TMPL_VAR NAME="bgColor">;
</TMPL_IF>
width:100%;
height:352px;
margin:0px;
padding:0px;
}

A, A:link, .highlight {
color:#<TMPL_VAR NAME="Color" DEFAULT="333333">;
}

</style>

