urlBase
templateMessage1
templateMessage2
emailValue
redirectValue
<template>

<html>
<head><title>ADITL login</title>
<link rel="StyleSheet" href="urlBase/static/aditl.css" type="text/css" />
</head>
<body bgcolor=#ffffff>

<left><div class="banner"><a class="banner" href="http://aditl.mit.edu">
<img border=0 name="bannerimg" src="urlBase/static/logo1.jpg" onMouseOver = "document.bannerimg.src = 'urlBase/static/logo2.jpg'"
onMouseOut = "document.bannerimg.src = 'urlBase/static/logo1.jpg'">
</a></div></left>

<br><br><br>

<div class="stdgray" style="font-size:20px">templateMessage1</div>
<div class="stdgray" style="font-size:15px;">templateMessage2</div>
<div class="orangebox" style="font-size:10px; width:43em">
<form method=post action="urlBase/dyn/login">
<table cellspacing=0 cellpadding=4>
<tr><td align="right" class="stdgray" style="font-size:14px"><b>email</b></td><td><input name="email" size="15" value="emailValue"></td></tr>
<tr><td align="right" class="stdgray" style="font-size:14px"><b>password</b></td><td><input name="password" size="15" value="" type="password"></td></tr>
<input type="hidden" name="redirect" value="redirectValue">
<tr><td align="right" class="stdgray" style="font-size:12px"><br><input type="submit" name="null" value="login"></td><td></td></tr>
</table>
</form>
</div>
<div class="stdgray" style="font-size:15px;">Not registered? Click <a class="darker2" href = "urlBase/dyn/register">here</a>.</div>
</body></html>
