urlBase
templateMessage
<template>

<html>
<head><title>ADITL</title>
<link rel="StyleSheet" href="urlBase/static/aditl.css" type="text/css" />
<style type="text/css">
.cell1 {padding-left:4px}
.smalltext {color:#77746b; font-family: helvetica, sans-serif; font-size:15px; text-align:justify}
.texttable {width:130px; padding-right:30px}
a.link1 {font-size:17px; color:#ffa963}
a.link1:hover {text-decoration:underline}
</style>
</head>
<body bgcolor=#ffffff>

<left><div class="banner"><a class="banner" href="urlBase">
<img border=0 name="bannerimg" src="urlBase/static/logo1.jpg" onMouseOver = "document.bannerimg.src = 'urlBase/static/logo2.jpg'"
onMouseOut = "document.bannerimg.src = 'urlBase/static/logo1.jpg'">
</a></div></left>

<br><br><br>

<div class="stdgray" style="font-size:15px">templateMessage</div>
</body></html>
