<template>
<html>
<head><title>ADITL Terms and Conditions</title>
<link rel="StyleSheet" href="${Settings:staticURLBase}/aditl.css" type="text/css" />
<style type="text/css">
.cell1 {padding-left:4px}
.smalltext {color:#77746b; font-family: helvetica, sans-serif; font-size:15px; text-align:justify}
.texttable {width:130px; padding-right:30px}
a.link1 {font-size:17px; color:#ffa963}
a.link1:hover {text-decoration:underline}
</style>

</head>
<body bgcolor=#ffffff>

<left><div class="banner"><a class="banner" href="http://aditl.mit.edu">
<img border=0 name="bannerimg" src="${Settings:staticURLBase}/logo1.jpg" onMouseOver = "document.bannerimg.src = '${Settings:staticURLBase}/logo2.jpg'"
onMouseOut = "document.bannerimg.src = '${Settings:staticURLBase}/logo1.jpg'">
</a></div></left>

<br><br>
<div class="stdgray" style="font-size:20px">[Step 1 of 2] Terms and Conditions</div>

<div class="orangebox" style="width:60em">

<div class="stdgray">
<div style="font-size:17px">By submitting photographs, the participant agrees to the
following terms and conditions:</div><br><br>

 <li> All submitted photographs are taken on September 23, 2010.

 <p><li> The submitted photographs are the original work of the
participant and do not violate the rights of any third party.

 <p><li> The participant retains the copyright on all submitted
photographs.

 <p><li> The participant grants Technique the right to publish submitted
photographs on the ADITL website, in the Technique yearbook, as part of
future materials promoting ADITL or Technique, and/or as part of an
exhibition of ADITL or Technique photos. While Technique will always
credit the participant wherever the photographs appear, no compensation
will be given.

 <p><li> Technique may make modifications to the submitted photographs for
the purpose of publication (including, but not limited to, cropping
and selective exposure adjustment).

 <p><li> The participant agrees not to hold Technique liable for
issues arising from the publication of any submitted
photograph.  

 <p><li> Technique reserves the right to cancel or modify the terms of the
ADITL photo event if unexpected technical, legal, and/or financial
difficulties arise.
<br><br>
<form method=post action="${Settings:uploadURL}">
<input type="submit" name="null" value="I agree">
<input type="hidden" name="nextpage" value="1">
</form>

</div>
</div>

</body></html>
