urlBase
aditlAuthID
aditlAuthToken
<template>

<html>
<head><title>ADITL upload your day</title>
<link rel="StyleSheet" href="urlBase/static/aditl.css" type="text/css" />
<script type="text/javascript" src="urlBase/static/swfupload.js"></script>
<script type="text/javascript" src="urlBase/static/uploadhandlers.js"></script>
<script type="text/javascript">
var swfu;
window.onload = function () {
    swfu = new SWFUpload({
        // Backend Settings
        upload_url: "urlBase/dyn/uploadrcv",
        post_params: {"aditlauthid": "aditlAuthID", "aditlauthtoken": "aditlAuthToken"},

        // File Upload Settings
        file_size_limit : "200 MB",       // 2MB
        file_types : "*.jpg;*.zip",
        file_types_description : "ZIP Archives or JPG Images",
        file_upload_limit : "0",

        // Event Handler Settings - these functions as defined in Handlers.js
        //  The handlers are not part of SWFUpload but are part of my website and control how
        //  my website reacts to the SWFUpload events.
        file_queue_error_handler : fileQueueError,
        file_dialog_complete_handler : fileDialogComplete,
        upload_progress_handler : uploadProgress,
        upload_error_handler : uploadError,
        upload_success_handler : uploadSuccess,
        upload_complete_handler : uploadComplete,

        // Button Settings
        button_image_url : "urlBase/static/SmallSpyGlassWithTransperancy_17x18.png",
        button_placeholder_id : "spanButtonPlaceholder",
        button_width: 280,
        button_height: 18,
        button_text : '<span class="button">Select Images or ZIP Archives<span class="buttonSmall">(200 MB per file)</span></span>',
        button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 12pt; } .buttonSmall { font-size: 10pt; }',
        button_text_top_padding: 0,
        button_text_left_padding: 18,
        button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
        button_cursor: SWFUpload.CURSOR.HAND,

        // Flash Settings
        flash_url : "urlBase/static/swfupload.swf",

        custom_settings : {
            upload_target : "divFileProgressContainer"
        },

        // Debug Settings
        debug: false
    });
};
</script>
</head>
<body bgcolor=#ffffff>

<left><div class="banner"><a class="banner" href="http://aditl.mit.edu">
<img border=0 name="bannerimg" src="urlBase/static/logo1.jpg" onMouseOver = "document.bannerimg.src = 'urlBase/static/logo2.jpg'"
onMouseOut = "document.bannerimg.src = 'urlBase/static/logo1.jpg'">
</a></div></left>

<br><br><br>

<div class="stdgray" style="font-size:20px;">[Step 2 of 2] Upload your day</div>
<div class="orangebox" style="font-size:15px; width:43em">
<div class="stdgray" style="font-size:15px">
This is where you upload photos. You can revisit this page and upload multiple times. Please click the "Select Images or ZIP Archives" button below, and select JPG or ZIP files from your computer.  Use Shift to select a long list of JPGs, or Control (Command on Mac) to select multiple individual JPGs. If you choose to submit a ZIP archive, make sure it is a vanilla ZIP archive, not tar+gzip.  Individual files are limited to 200MB.  It does not matter what you name the files.
<br><br>
<b>Depending on your connection speed, the upload may take several minutes. The upload widget requires Adobe Flash.</b> Please don't get impatient and hit your browser's stop button. 
<br>
<br>
        <form>
                <div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
                        <span id="spanButtonPlaceholder"></span>
                </div>
        </form>
        <div id="divFileProgressContainer" style="height: 75px;"></div>
        <div id="thumbnails"></div>
</div>

</body></html>
