urlBase
<template>

<html>
<head><title>ADITL upload your day</title>
<link rel="StyleSheet" href="urlBase/static/aditl.css" type="text/css" />
</head>
<body bgcolor=#ffffff>

<left><div class="banner"><a class="banner" href="http://aditl.mit.edu">
<img border=0 name="bannerimg" src="urlBase/static/logo1.jpg" onMouseOver = "document.bannerimg.src = 'urlBase/static/logo2.jpg'"
onMouseOut = "document.bannerimg.src = 'urlBase/static/logo1.jpg'">
</a></div></left>

<br><br><br>

<div class="stdgray" style="font-size:20px;">[Step 3 of 3] Upload your day</div>
<div class="orangebox" style="font-size:15px; width:43em">
<div class="stdgray" style="font-size:15px">
This is where you upload your entire day. Please zip (not tar + gzip) all of your photos
from the day. Make sure that the zip file doesn't contain subdirectories (i.e. the zip file should
contain "photo1.jpg", "photo2.jpg" not "/somedirectory/photo1.jpg", "/someotherdirectory/photo2.jpg"). Also
make sure that the zip file is not over 200MB. It does not matter what you name the zip file.
<br><br>
<b>Depending on your connection speed, the upload may take several minutes (even as long as 10 - 20 minutes if you
have a large file and are on a slow connection).</b> Please don't get impatient and hit your browser's stop button. 
<br>
<br>
<form method=post action="urlBase/dyn/upload" enctype="multipart/form-data">
<input type="file" name="dafile" size="40">
<input type="hidden" name="tried" value="1">
<br>
<input type="submit" value="Upload">
</form>
</div>

</body></html>
