        <footer>
            <div id="credits">
                <div id="technique-credit">
                    <a href="http://technique.mit.edu/"><img src="<TMPL_VAR EXPR="settings('staticURLBase')">/images/technique-logo.png" alt="Technique"  /></a>
                    <p>The yearbook, photography<br />&amp; design club of MIT.</p>
                </div>
                <div id="mit-credit">
                    <a href="http://web.mit.edu/"><img src="<TMPL_VAR EXPR="settings('staticURLBase')">/images/mit-logo.png" alt="MIT" /></a>
                    <p>The Massachusetts<br />Institute of Technology</p>
                </div>
            </div>

            <div id="copyright-terms">
                <p>All images are copyright &copy; 2011 by their respective owners.</p>
            </div>
        </footer>

<!-- Google Analytics Begin -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10743984-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Google Analytics End -->