            <header>
                <hgroup>
                    <h1><a href="<TMPL_VAR EXPR="settings('frontURL')">">ADITL</a></h1>
                    <h2>A day in the life of MIT.</h2>
                    <h3>22 September 2011</h3>
                </hgroup>
            </header>
            <nav id="primary-navigation" role="primary-navigation">
                <ul>
                    <li><a href="<TMPL_VAR EXPR="settings('selectUserURL')">"<TMPL_IF NAME="page_select_user"> class="selected"</TMPL_IF>>Follow Someone</a></li>
                    <li><a href="<TMPL_VAR EXPR="settings('aboutURL')">"<TMPL_IF NAME="page_about"> class="selected"</TMPL_IF>>About ADITL</a></li>
                    <li>
		      <TMPL_IF NAME="uid">
			             <a href="<TMPL_VAR EXPR="settings('uploadURL')">">Upload</a>
		      <TMPL_ELSE>
		                 <a href="<TMPL_VAR EXPR="settings('loginURL')">"<TMPL_IF NAME="page_login"> class="selected"</TMPL_IF>>Login / Register</a>
		      </TMPL_IF>
		          </li>
                </ul>
            </nav>