            <header>
                <hgroup>
                    <h1><a href="<TMPL_VAR EXPR="settings('frontURL')">">ADITL</a></h1>
                    <h2>A day in the life of MIT.</h2>
                    <h3>22 September 2011</h3>
                </hgroup>
            </header>
            <nav id="primary-navigation" role="primary-navigation">
                <ul>
                    <li><a href="<TMPL_VAR EXPR="settings('selectUserURL')">">Follow Someone</a></li>
                    <li><a href="<TMPL_VAR EXPR="settings('aboutURL')">">About ADITL</a></li>
                    <li>
		      <TMPL_IF NAME="uid">
			<a href="<TMPL_VAR EXPR="settings('uploadURL')">">Upload</a>
		      <TMPL_ELSE>
			<a href="<TMPL_VAR EXPR="settings('loginURL')">">Login</a>
		      </TMPL_IF>
		    </li>
                </ul>
            </nav>